* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body {
    background-color: #011627;

    font-family: sans-serif;
}

.container {
    max-width: 700px;

    margin: 0 auto;
    padding-top: 200px;
    
    /* border: solid 1px black; */
}

#grid {
    display: flex;
    flex-flow: row wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border: solid 1px white;

    color: #7fffd4;


}

.square.active {
    background-color: #7fffd4;
    color: #011627;
    font-weight: bold;
}