* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body {
    background-color: #011627;
}

.container {
    max-width: 700px;

    margin: 0 auto;
    padding-top: 200px;
    
    /* border: solid 1px black; */
}

#grid {
    display: flex;
    flex-flow: row wrap;
}

.square {
    width: 100px;
    height: 100px;
    border: solid 1px white;
}

.square.active {
    background-color: #7fffd4;
}